

<div id="current-selection-summary" class="selection">

<div id="selection-so-far">
<h4>Your selection so far</h4>
style:&nbsp;&nbsp;<%= params[:style] %> <br/>
Fabric:&nbsp;&nbsp;<%= params[:fabric] %><br/>
Length:&nbsp;&nbsp;<%= params[:length] %><br/>
Width:&nbsp;&nbsp;<%= params[:width] %><br/>
Color:&nbsp;&nbsp; <%= params[:color] %><br/>
<hr/>
</div>



<%= form_tag line_items_path :method => "POST" do %>

Price <%= @product.price %>
<%= hidden_field_tag :product_id, @product.id %>
<%= hidden_field_tag :style, params[:style] %>
<%= hidden_field_tag :fabric, params[:fabric] %>
<%= hidden_field_tag :length, params[:length] %>
<%= hidden_field_tag :width, params[:width] %>
<%= hidden_field_tag :color, params[:color] %>
<%= label_tag :quantity %>
<%= number_field_tag :quantity %> <br/>
<%= submit_tag  "Add To Busket" %> <br/>
<% end %>
</div>




<style>

 .selection {
    background: #f8f7f4 none repeat scroll 0 0;
    border: 1px solid #dedbd2;
    margin-top: 14px;
    overflow: hidden;
    padding: 11px 15px 15px;
}


</style>