<h2>Choose Lining Color</h2>
Style:<%= params[:style] %><br/>
Fabric:<%= params[:fabric] %><br/>
Length:<%= params[:length] %><br/>
Width:<%= params[:width] %><br/>

<%= form_tag confirm_homes_path, :method => "GET" do %>
<%= hidden_field_tag :product_id, @product.id %>
<%= hidden_field_tag :style, params[:style] %>
<%= hidden_field_tag :fabric, params[:fabric] %>
<%= hidden_field_tag :length, params[:length] %>
<%= hidden_field_tag :width, params[:width] %>
<h4>Type of Curtain Required</h4>
<%=  radio_button_tag :color, "White"%> White
<%=  radio_button_tag :color, "Black Out"%> Black Out<br/>
<br/>

<%=  submit_tag :Back %>
<%=  submit_tag :Continue %>
<% end %>
