<div id="current-selection-summary" class="selection">

<div id="selection-so-far">
<h4>Your selection so far</h4>
style:<%= params[:style] %>

<hr/>
</div>


<%= form_tag lining_homes_path, :method => "GET" do %>
<h4>Type of Curtain Required</h4>
 <%= hidden_field_tag :product_id, @product.id %>
<%= hidden_field_tag :style, params[:style] %>
<%=  radio_button_tag :fabric, "pair"%> Pair
<%=  radio_button_tag :fabric, "single"%> Single<br/>
<br/>
Length of pole
<%= text_field_tag :length %><br/>
<br/>
Length of Drop
<%= text_field_tag :width  %>
<br/><br/>
<%=  link_to "Back", single_product_home_path(:id => @product.id), :class => "btn btn-default"%>

<%=  submit_tag :Continue %>
<% end %>

</div>


<style>

 .selection {
    background: #f8f7f4 none repeat scroll 0 0;
    border: 1px solid #dedbd2;
    margin-top: 14px;
    overflow: hidden;
    padding: 11px 15px 15px;
}


</style>