 <div class="box-collection">
   <h1><span>Collections</span></h1> 
  <div class="row-collSec">
    <div class="row">
      <% if(@offer_first.content.present? && @offer_first.percent.present? && @offer_first.offer_parent.present?)%>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <div class="box-twenty">
          <!-- <h3> 20 
          <span><em>%</em>OFF</span> </h3>
          <p>100's of Furniture Products</p>
           <p class="text-offer">Offers end midnight Wednesday</p> -->
          <div><%= @offer_first.content.html_safe %></div>
          <%= link_to "Shop Now", offers_homes_path(:param1 => @offer_first.offer_parent, :param2 => @offer_first.percent), class: "btn btn-shop" %>
        </div>
      </div>
      <% end %>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <% if(@offer_second.content.present? && @offer_second.percent.present? && @offer_second.offer_parent.present?)%>
        <div class="box-upto">
          <div class="box-fifty">
            <%= @offer_second.content.html_safe %>
            <%= link_to "Shop Now", offers_homes_path(:param1 => @offer_second.offer_parent, :param2 => @offer_second.percent), class: "btn-shop" %>
          </div>
          <div class="box-miss">
            <%= @offer_second.additional.html_safe %>
          </div>
        </div>
      <% end %>
  
      <% if(@offer_third.content.present? && @offer_third.percent.present? && @offer_third.offer_parent.present?)%>
        <div class="box-bath">
         <!-- <a href="#" title=""><img alt="" title="" src="/assets/images/img-bath.png"/></a> -->
          <%= link_to @offer_third.image.present? ? image_tag(@offer_third.image.url) : image_tag("/assets/images/img-bath.png"), offers_homes_path(:param1 => @offer_third.offer_parent, :param2 => @offer_third.percent) %>

          <div class="box-thirty">
            <%= @offer_third.content.html_safe %>
          </div>
          <div class="box-miss">
            <%= @offer_third.additional.html_safe %>
          </div>
        </div>
      <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">  
      <% if(@offer_fourth.content.present? && @offer_fourth.percent.present? && @offer_fourth.offer_parent.present?)%>
        <div class="box-mainbed">
          <!-- <a href="#" title=""><img alt="" title="" src="/assets/images/img-collection1.png"/></a> -->
          <%= link_to @offer_fourth.image.present? ? image_tag(@offer_fourth.image.url) : image_tag("/assets/images/img-collection1.png"), offers_homes_path(:param1 => @offer_fourth.offer_parent, :param2 => @offer_fourth.percent) %>
          <div class="box-thirty box-uptothirty">
            <%= @offer_fourth.content.html_safe %>
          </div>
          <div class="box-miss">
            <%= @offer_fourth.additional.html_safe %>
          </div>
        </div>
      <% end %>

        <div class="box-bath box-bath640"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-bath.png"/></a>
          <div class="box-thirty">
            <h6>30<span><em>%</em> off</span></h6>
            <p>selected</p>
          </div>
          <div class="box-miss">
            <p>Bath accessories offers</p>
            <p>Loreum ispum is a dummy text</p>

          </div>
        </div>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="box-mainbed box-collectionMiddil"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-collection2.png"/></a>
          <div class="box-thirty box-uptothirty">
            <p class="bottom-spacE">up to</p>
            <h6>20<span><em>%</em> off</span></h6>
          </div>
          <div class="box-miss">
            <p>Home Decor</p>
            <p>Loreum ispum is a dummy text</p>
          </div>
        </div>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="box-mainbed"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-collection3.png"/></a>
          <div class="box-thirty box-uptothirty">
            <p class="bottom-spacE">up to</p>
            <h6>10<span><em>%</em> off</span></h6>
          </div>
          <div class="box-miss">
            <p>Show piece offers</p>
            <p>Exclusive offers for a limited time only</p>
          </div>
        </div>

        <div class="box-bath"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-bath.png"/></a>
          <div class="box-thirty">
            <h6>30<span><em>%</em> off</span></h6>
            <p>selected</p>
          </div>
          <div class="box-miss">
            <p>Bath accessories offers</p>
            <p>Loreum ispum is a dummy text</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>