
<%= render :partial => "single_product" %>
<% if @sub_category.id == 16 or 25%>
<%= render :partial => "style_link" %>
      <div class="tab-pane fade in active clearfix" id="service1">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                 Choose your Heading Type
                </a>
              </h4>
            </div>

            <div id="collapseOne" class="panel-collapse collapse in">
              <%= form_tag measurements_homes_path, :method => "GET" do %>
                <div>
            <%= hidden_field_tag :product_id, @product.id %>
                  <%=  radio_button_tag :style, "Eyelit"%> Eyelit
                  <%=  radio_button_tag :style, "Tabtop"%> Tabtop<br/>
                  <%= submit_tag "Continue",style: 'position: relative; height: 39px; text-align: center; width: 140px; color: white;' %>
                </div> 
              <% end %>
            </div>
      </div>
      <% end %>
<%= render :partial => "simialr_product" %>


